<launch>

<group>
  <!-- remotely run bringup on Raspberry Pi, added by Eduardo-->
  <machine name="raspi" address="10.8.0.3" env-loader="~/catkin_ws/local_env_loader.sh" user="pi" default="true"/>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
  
</group>

  <!-- remotely run bringup on Raspberry Pi, added by Eduardo-->

<group>
  <machine name="pc" address="10.8.0.2" env-loader="/opt/ros/kinetic/env.sh" user="eduardo" default="true" timeout="100"/>
  <include file="$(find turtlebot3_manipulation_bringup)/launch/turtlebot3_manipulation_bringup.launch"/>
  <include file="$(find turtlebot3_manipulation_moveit_config)/launch/move_group.launch"/>
  <include file="$(find turtlebot3_manipulation_moveit_config)/launch/moveit_rviz.launch"/>
  <include file="$(find turtlebot3_manipulation_slam)/launch/slam.launch"/>  

</group>
  
</launch>
